################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JenkinsDemo/bin
/.vs
/JenkinsDemo/obj
/JenkinsDemoTest/obj
/JenkinsDemo/JenkinsDemo.csproj.user
